.messageContainer{
    display: flex;
    height: auto;
    float: left;
    align-items:stretch;
    color: #ddd;
    margin-right: 20px;
}

.isOwnMessageContainer{
    float: right;
    text-align: right;
}
.isOwnMessageContainer::after{
    left: auto;
    right: 0;
}

.messageData{
    flex: 1;
    font-size: 0.6em;
    border-radius:20px; 
    /* margin:-5px 0px; */
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.23); */
}

.sender{
    display: block;
    padding-left: 2px;
    color: rgb(112, 111, 111);
    font-weight: bold;
}

.isOwnSender{
    color: #E1F5FE;
    display: none;
}

.timestamp {
    color: rgb(167, 167, 167);
    font-style: italic;
    font-size: 8px;
}
.isOwnTimestamp{
    font-size: 8px;
    color: rgb(212, 211, 211);
    /* margin-bottom:-5px;  */
}

.messageContent{
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    border-radius: 0px 20px 20px 20px;
    background: lightgrey;
    color: black;
    font-size: 16px;
    line-height: 1.4;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.isOwnMessageContent{
    background-color: rgb(19, 138, 223);
    border-radius: 20px 20px 0 20px;
    color: rgb(255, 255, 255);
    margin-bottom: -2px;
}