.userItem{
    height: auto;
    padding: 0px 0px 5px 5px;
    width: 90%;
    margin-top: 10px;
    border-radius: 1px;
    align-items:flex-start;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(129, 127, 127, 0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: ease-in 0.2s;
    cursor: pointer;
}

.userItem:hover{
    background-color: #cac8c8;
    color: rgb(255, 255, 255);
    transition: ease-in 0.1s;
}

.online{
    background-color: #0FA;
}

.busy{
    background-color: #FB0;
}

.offline{
    background-color: #888;
}

.status{
    border: 1px solid black;
    display: inline-block;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    margin: 10px 12px 0px 10px;
}

.userName{
    display: inline-block;
}